@{
    ViewData["Title"] = "Detalhe";
}
@section Styles{
    <style>
        .custom-switch.custom-switch-off-danger .custom-control-input:checked ~ .custom-control-label::before {
            background: #dc3545;
            border-color: #921925;
        }

        .custom-switch.custom-switch-off-danger .custom-control-input:checked:focus ~ .custom-control-label::before {
            box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px rgba(220, 53, 69, 0.25);
        }

        .custom-switch.custom-switch-off-danger .custom-control-input:checked ~ .custom-control-label::after {
            background: #7c151f;
        }

        .custom-switch.custom-switch-on-success .custom-control-input ~ .custom-control-label::before {
            background: #28a745;
            border-color: #145523;
        }

        .custom-switch.custom-switch-on-success .custom-control-input:focus ~ .custom-control-label::before {
            box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px rgba(40, 167, 69, 0.25);
        }

        .custom-switch.custom-switch-on-success .custom-control-input ~ .custom-control-label::after {
            background: #86e29b;
        }
    </style>
}
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js" integrity="sha512-6Jym48dWwVjfmvB0Hu3/4jn4TODd6uvkxdi9GNbBHwZ4nGcRxJUCaTkL3pVY6XUQABqFo3T58EMXFQztbjvAFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            var table;
            function buttonCEPOnClick() {
                $('#buttonCEP').click(function (e) {
                    e.preventDefault();
                    var cep = $('#textCEP').val();
                    if (cep.trim().length != 8) {
                        esconderEndereco();
                        return;
                    }
                    buscarEndereco(cep);
                });
            }
            function buttonSalvarOnClick() {
                $('#buttonSalvar').click(function (e) {
                    e.preventDefault();
                    var dados = lerDados();
                    salvar(dados);
                });
            }
            function selectUFOnChange() {
                $('#selectUF').change(function (e) {
                    e.preventDefault();
                    montarSelectCidade(this.value);
                });}
            function selectCidadeOnChange() {
                $('#selectCidade').change(function (e) {
                    e.preventDefault();
                    montarSelectBairro(this.value);
                });
            }

            function buscarEndereco(cep) {
                var urlApiCEP = '@ViewBag.UrlApiCEP' + cep;
                $.ajax({
                    type: "GET",
                    url: urlApiCEP,
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {
                            mostrarEndereco(response);
                            fazerEnderecoReadOnly(true);
                        }
                    },
                    error: function () {
                        esconderEndereco();
                        fazerEnderecoReadOnly(false);
                    }
                });
            }
            function carregaDados() {
                var urlApiImovel = '@ViewBag.UrlApiImovel' + '@ViewBag.Id';
                $.ajax({
                    type: "GET",
                    url: urlApiImovel,
                    timeout: 0,
                    success: function (response) {
                        preencherDados(response);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        window.open("/Home/Index", "_parent");
                    }
                });
            }
            function esconderEndereco() {
                $('#divEndereco').addClass('invisible');
                $('#divUF').addClass('invisible');
                $('#divCidade').addClass('invisible');
                $('#divBairro').addClass('invisible');
                $('#textEndereco').val('');
                $('#selectUF').val(0).change();
                $('#selectCidade').val(0).change();
                $('#selectBairro').val(0).change();

            }
            function fazerEnderecoReadOnly(chave) {
                if (chave) {
                    $('#textEndereco').attr('readonly', 'readonly');
                    $('#selectUF').attr('disabled', 'disabled');
                    $('#selectCidade').attr('disabled', 'disabled');
                    $('#selectBairro').attr('disabled', 'disabled');
                }
                else {
                    $('#textEndereco').removeAttr('readonly');
                    $('#selectUF').removeAttr('disabled');
                    $('#selectCidade').removeAttr('disabled');
                    $('#selectBairro').removeAttr('disabled');
                }
            }
            function lerDados() {
                var dados = {
                    id: @ViewBag.Id,
                    tipoId: parseInt($('#selectTipo').val()),
                    ufId: parseInt($('#selectUF').val()),
                    cidadeId: parseInt($('#selectCidade').val()),
                    bairroId: parseInt($('#selectBairro').val()),
                    alugado: $('#checkboxAlugado').is(':checked'),
                    dormitorios: parseInt($('#textDormitorios').val()),
                    suites: parseInt($('#textSuites').val()),
                    vagasCarro: parseInt($('#textVagas').val()),
                    cep: $('#textCEP').val(),
                    area: parseFloat($('#textArea').val()),
                    condominio: parseFloat($('#textCondominio').val()),
                    valor: parseFloat($('#textValor').val()),
                    endereco: $('#textEndereco').val(),
                    numero: $('#textNumero').val(),
                    complemento: $('#textComplemento').val()
                };
                return dados;
            }
            function montarSelectBairro(cidadeId) {
                var urlApiBairro = '@ViewBag.UrlApiBairro' + cidadeId;
                $.ajax({
                    type: "GET",
                    url: urlApiBairro,
                    timeout: 0,
                    async: false,
                    success: function (response) {
                        if (response != null) {
                            var selectBairro = $('#selectBairro');
                            selectBairro.find('option').remove();
                            $('<option>').val('0').text('[Selecionar...]').appendTo(selectBairro);
                            $.each(response, function (indexInArray, valueOfElement) {
                                $('<option>').val(valueOfElement.id).text(valueOfElement.nome).appendTo(selectBairro);
                            });
                        }
                    }
                });
            }
            function montarSelectCidade(ufId) {
                var urlApiCidade = '@ViewBag.UrlApiCidade' + ufId;
                $.ajax({
                    type: "GET",
                    url: urlApiCidade,
                    timeout: 0,
                    async: false,
                    success: function (response) {
                        if (response != null) {
                            var selectCidade = $('#selectCidade');
                            selectCidade.find('option').remove();
                            $('<option>').val('0').text('[Selecionar...]').appendTo(selectCidade);
                            $.each(response, function (indexInArray, valueOfElement) {
                                $('<option>').val(valueOfElement.id).text(valueOfElement.nome).appendTo(selectCidade);
                            });
                        }
                    }
                });
            }
            function montarSelectTipo() {
                var urlApiTipo = '@ViewBag.UrlApiTipo';
                $.ajax({
                    type: "GET",
                    url: urlApiTipo,
                    timeout: 0,
                    async: false,
                    success: function (response) {
                        if (response != null) {
                            var selectTipo = $('#selectTipo');
                            selectTipo.find('option').remove();
                            $('<option>').val('0').text('[Selecionar...]').appendTo(selectTipo);
                            $.each(response, function (indexInArray, valueOfElement) {
                                $('<option>').val(valueOfElement.id).text(valueOfElement.nome).appendTo(selectTipo);
                            });
                        }
                    }
                });
            }
            function montarSelectUF() {
                var urlApiUF = '@ViewBag.UrlApiUF';
                $.ajax({
                    type: "GET",
                    url: urlApiUF,
                    timeout: 0,
                    async: false,
                    success: function (response) {
                        if (response != null) {
                            var selectUF = $('#selectUF');
                            selectUF.find('option').remove();
                            $('<option>').val('0').text('[Selecionar...]').appendTo(selectUF);
                            $.each(response, function (indexInArray, valueOfElement) {
                                $('<option>').val(valueOfElement.id).text(valueOfElement.sigla).appendTo(selectUF);
                            });
                        }
                    }
                });
            }
            function mostrarEndereco(dados) {
                $('#divEndereco').removeClass('invisible');
                $('#divUF').removeClass('invisible');
                $('#divCidade').removeClass('invisible');
                $('#divBairro').removeClass('invisible');
                $('#textEndereco').val(dados.endereco);
                $('#selectUF').val(dados.ufId).change();
                montarSelectCidade(dados.ufId);
                $('#selectCidade').val(dados.cidadeId).change();
                montarSelectBairro(dados.cidadeId);
                $('#selectBairro').val(dados.bairroId).change();
            }
            function preencherDados(dados) {
                $('#selectTipo').val(dados.tipoId).change();
                $('#textCEP').val(dados.cep);
                $('#textNumero').val(dados.numero);
                $('#textComplemento').val(dados.complemento);

                buscarEndereco(dados.cep);

                $('#checkboxAlugado').prop('checked', dados.alugado);
                $('#textDormitorios').val(dados.dormitorios);
                $('#textSuites').val(dados.suites);
                $('#textVagas').val(dados.vagasCarro);
                $('#textArea').val(dados.area);
                $('#textCondominio').val(dados.condominio);
                $('#textValor').val(dados.valor)
                $('#textValorTotal').val(dados.valorTotal);
            }
            function salvar(dados) {
                var tipo = (dados.id == null || dados.id == 0) ? 'POST' : 'PUT';
                var urlApiImovel = '@ViewBag.UrlApiImovel';
                $.ajax({
                    url: urlApiImovel,
                    method: tipo,
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: JSON.stringify(dados),
                    success: function (response) {
                        alert('Salvo com sucesso!');
                        window.open("/Home/Index", "_parent");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Não foi possível salvar!')
                    }
                });
            }
            function soNumero() {
                $('.sonumero').on('keypress', function (e) {
                    tecla = e.which;
                    return ((tecla > 47 && tecla < 58) || (tecla == 8 || tecla == 0));
                });
            }
            function inicializar() {
                $('#textCEP').inputmask('99999999');
                $(".decimal").inputmask("decimal", {
                    'digits': 2,
                    'radixPoint': ".",
                    'digitsOptional': false
                });
                buttonCEPOnClick();
                buttonSalvarOnClick();
                selectCidadeOnChange();
                selectUFOnChange();
                montarSelectTipo();
                montarSelectUF();
                soNumero();
                if (@ViewBag.Id != 0) {
                    carregaDados();
                }
            }
            inicializar();
        });
    </script>
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Imóvel</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="selectTipo">Tipo</label>
                                    <select class="form-control" id="selectTipo" name="selectTipo">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="textCEP">CEP</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control sonumero" name="textCEP" id="textCEP" placeholder="CEP" value="" autocomplete="off" />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary nacional" type="button" id="buttonCEP"><i class="fas fa-ellipsis-h"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div id="divEndereco" class="form-group invisible">
                                    <label for="textEndereco">Endereço</label>
                                    <input type="text" class="form-control" name="textEndereco" id="textEndereco" placeholder="Endereço" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="textNumero">Nº</label>
                                    <input type="text" class="form-control" name="textNumero" id="textNumero" placeholder="Número" value="" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="textComplemento">Complemento</label>
                                    <input type="text" class="form-control" name="textComplemento" id="textComplemento" placeholder="Complemento" value="" />
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div id="divUF" class="form-group invisible">
                                    <label for="selectUF">UF</label>
                                    <select class="form-control" id="selectUF" name="selectUF">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div id="divCidade" class="form-group invisible">
                                    <label for="selectCidade">Cidade</label>
                                    <select class="form-control" id="selectCidade" name="selectCidade">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div id="divBairro" class="form-group invisible">
                                    <label for="selectBairro">Bairro</label>
                                    <select class="form-control" id="selectBairro" name="selectBairro">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input type="checkbox" class="custom-control-input" id="checkboxAlugado" checked="checked">
                                        <label class="custom-control-label" for="checkboxAlugado">Alugado</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="textDormitorios">Dormitórios</label>
                                    <input type="text" class="form-control sonumero" name="textDormitorios" id="textDormitorios" placeholder="Dormitórios" value="0" />
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="textSuites">Suítes</label>
                                    <input type="text" class="form-control sonumero" name="textSuites" id="textSuites" placeholder="Suítes" value="0" />
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="textVagas">Vagas</label>
                                    <input type="text" class="form-control sonumero" name="textVagas" id="textVagas" placeholder="Vagas" value="0" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="textArea">Área (m²)</label>
                                    <input type="text" class="form-control decimal" name="textArea" id="textArea" placeholder="Área (m²)" value="0" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="textCondominio">Condomínio</label>
                                    <input type="text" class="form-control decimal" name="textCondominio" id="textCondominio" placeholder="Condomínio" value="0" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="textValor">Valor</label>
                                    <input type="text" class="form-control decimal" name="textValor" id="textValor" placeholder="Valor" value="0" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="textValorTotal">Valor Total</label>
                                    <input type="text" class="form-control decimal" name="textValorTotal" id="textValorTotal" placeholder="Valor Total" value="0" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" id="buttonSalvar"><i class="far fa-save"></i>&nbsp;Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
